body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .fondo {
  background-image: url("/src/images/campo.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  .contenido {
        /**/background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }