
/* ================= BOTONES =============== */
/* =========== ESTILOS GENERALES =========== */
.boton-rojo,
.boton-ayuda,
.boton-cambiar {
    width: 100px; 
    height: 100px;
    border-radius: 50%; /* Hace que sea redondo */
    border: none; 
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para efecto 3D */
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    font-size: 16px; 
    font-weight: bold; 
    color: #fff; 
  }

  
    .boton-puntaje {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }
  
  
  

  /* =========== EFECTOS GENERALES  =========== */
  
  /* Efecto al presionar el botón */
.boton:active{
  transform: scale(0.9); /* Efecto de presión */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Reduce la sombra al presionar */
}

/* Cuando está deshabilitado */
.boton:disabled {
  background-color: #ccc; 
  cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}
/* =========================================== */


/* =========== COLORES =========== */
 /* Al pasar el cursor el color se oscurece */
.boton-rojo {
    background-color: rgba(255, 0, 0, 0.69); 
}

  .boton-rojo:hover:not(:disabled) {
    background-color: rgb(219, 4, 4);
  }
/* =========================================== */

.boton-ayuda {
    background-color: #ffc107d3; 
  }

  .boton-ayuda:hover:not(:disabled) {
    background-color: #e0a800; 
  }
 /* =========================================== */
 .boton-cambiar {
    background-color: #28a746b9; 
  }
  
  .boton-cambiar:hover:not(:disabled) {
    background-color: #218838; 
  }
    /* =========================================== */

.boton-puntaje {
    background-color: rgba(65, 65, 190, 0.865);
}

.boton-puntaje:disabled {
    background-color: #9999ff;
    cursor: not-allowed;
  }

