/* Estilo General */
.caballo {
  position: absolute; /* Posicionamiento dentro de la pista */
  top: 0%; 
  left: 20px; /* Comienza desde el extremo izquierdo de la pista */
  transition: all 2.5s cubic-bezier(0.22, 1, 0.36, 1); /* Transición más dinámica */
}
.caballo:hover {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
}

.caballo-nombre {
  font-weight: bold; 
  margin-bottom: 5px; 
  color: #fff; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Sombra para mejorar la legibilidad */
  font-size: 1.2rem; 
}

.caballo-progreso {
  position: relative; /* Posicionamiento para el contenedor del caballo */
}

.caballo-imagen {
  width: 80px; /* Ancho del caballo  */
  height: auto; /* Mantenemos la proporción de la imagen */
}


