
.historial-container h2 {
  color: #f8d347;          
  text-align: center;       
  margin-bottom: 20px;      
}

/* Mensaje cuando no hay historial */
.sin-historial {
  text-align: center;      
  color: #aaa;             
  font-style: italic;       
}

.lista-partidas {
  list-style: none;         
  padding: 0;               
}

/* Items individuales de partidas */
.partida-item {
  display: flex;            
  justify-content: space-between; 
  padding: 10px;            
  margin-bottom: 8px;       
  background-color: #1a1d1a5e; /* Fondo ligeramente más claro */
  border-radius: 5px;       
  transition: background-color 0.3s; /* Transición suave */
}


.partida-item:hover {
  background-color: #333;   /* Fondo más oscuro al pasar mouse */
}


.fecha {
  color: #ffffff;             
  font-size: 0.9rem;        
  width: 40%;               
}

/* Estilo para el texto del ganador */
.ganador {
  color: #ffffff;           
  font-weight: bold;        
  width: 30%;               
  text-align: center;       
}


.puntajes {
  color: #cc96ff;           
  width: 20%;              
  text-align: right;        
}


.boton-limpiar {
  display: block;           /* Mostrar como bloque */
  margin: 20px auto 0;     
  padding: 8px 16px;       
  background-color: #590902e7; 
  color: white;            
  border: none;             
  border-radius: 5px;       
  cursor: pointer;          /* Cursor tipo mano */
  transition: background-color 0.3s; /* Transición suave */
}


.boton-limpiar:hover {
  background-color: #782119ef;
}