/* Estilo del título */
.historial-container h2 {
  color: #f8d347;          
  text-align: center;       /* Centrado */
  margin-bottom: 20px;      /* Espacio inferior */
}

/* Mensaje cuando no hay historial */
.sin-historial {
  text-align: center;       /* Texto centrado */
  color: #aaa;             
  font-style: italic;       /* Cursiva */
}

/* Lista de partidas */
.lista-partidas {
  list-style: none;         /* Sin viñetas */
  padding: 0;               /* Sin padding */
}

/* Items individuales de partidas */
.partida-item {
  display: flex;            /* Diseño flexible */
  justify-content: space-between; /* Espacio entre elementos */
  padding: 10px;            /* Espaciado interno */
  margin-bottom: 8px;       /* Separación entre items */
  background-color: #1a1d1a5e; /* Fondo ligeramente más claro */
  border-radius: 5px;       /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave */
}


.partida-item:hover {
  background-color: #333;   /* Fondo más oscuro al pasar mouse */
}


.fecha {
  color: #ffffff;             
  font-size: 0.9rem;        /* Tamaño de fuente */
  width: 40%;               /* Ancho */
}

/* Estilo para el texto del ganador */
.ganador {
  color: #ffffff;           
  font-weight: bold;        /* Negrita */
  width: 30%;               /* Ancho asignado */
  text-align: center;       /* Centrado */
}


.puntajes {
  color: #cc96ff;           
  width: 20%;               /* Ancho asignado */
  text-align: right;        /* Alineado a la derecha */
}


.boton-limpiar {
  display: block;           /* Mostrar como bloque */
  margin: 20px auto 0;      /* Margen superior y centrado */
  padding: 8px 16px;        /* Espaciado interno */
  background-color: #590902e7; 
  color: white;            
  border: none;             /* Sin borde */
  border-radius: 5px;       /* Bordes redondeados */
  cursor: pointer;          /* Cursor tipo mano */
  transition: background-color 0.3s; /* Transición suave */
}


.boton-limpiar:hover {
  background-color: #782119ef;
}