.panel-preguntas {
  text-align: center; /* Centra el texto */
  padding: 20px; /* Espaciado interno */
  margin: 20px;
}


.botones-puntajes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.botones-principales {
  display: flex;
  gap: 20px; /* Espacio entre los botones */
  justify-content: center; /* Centrar los botones horizontalmente */
}


