.panel-preguntas {
  text-align: center; 
  padding: 20px; 
  margin: 20px;
}


.botones-puntajes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.botones-principales {
  display: flex;
  gap: 20px; 
  justify-content: center; 
}


