.pista-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre pistas */
  width: 100%;
  max-width: 800px; /* Ancho máximo del contenedor de pistas */
  margin: 0 auto; /* Centrar el contenedor */
}

.pista {
  position: relative;
  width: 100%;
  height: 100px; /* Altura de cada pista */
  background-size: cover; /* Ajusta la imagen de fondo */
  background-position: center; /* Centrar la imagen de fondo */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Evitar que el caballo se salga de la pista */
}

.meta {
  position: absolute;
  right: 0;
  top: 16%;
  transform: translateX(10%);
  width: 100px; /* Ancho de la meta */
}

.meta-imagen {
  width: 110%;
  height: auto;
  rotate: 90deg;
}