.pista {
  position: relative; 
  width: 100%; /* Ancho del contenedor */
  height: 200px; /* Altura */
  margin: 20px 0; /* Margen superior e inferior de 20px */
  background-image: url("/src/images/Pista.jpg"); 
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  border: 2px solid #000; 
}


.meta {
  position: absolute; 
  right: -25px; /* Coloca la meta 25px fuera del contenedor */
  top: 50%; /* Coloca la meta en el 50% de la altura del contenedor */
  transform: translateY(-50%); /* Centra verticalmente la meta */
}

/* Estilo de la imagen de la meta */
.meta-imagen {
  width: 100px; /* Ancho */
  height: 200px; /* Altura */
  rotate: 180deg; /* Rota la imagen*/
}