.temporizador {
  text-align: center; /* Centra el texto */
  margin: 20px 0; /* Margen superior e inferior de 20px */
  font-size: 2em; /* Tamaño de la fuente */
  font-weight: bold; /* Texto en negrita */
  color: #333; /
}